#logo {
  width: 20px; /* Fallback width */
  width: calc(20px + 2vw);
  height: auto;
  margin-right: 5px;
}

#brand {
  display: inline;
  vertical-align: middle;
  font-family: Major Mono Display, monospace;
  font-size: 12px; /* Fallback width */
  font-size: calc(12px + 1vw);
}

.navbar {
  background-color: #00aa99;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  box-shadow: 0px 3px 3px #888888;
}

.navbar-nav {
  margin-left: auto;
}

a.nav-link {
  font-size: 12px; /* Fallback font size */
  font-size: calc(12px + 0.7vw);
  color: #ffffff;
  border-radius: 10px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 20px;
  padding-right: 20px;
}

.active {
  text-decoration: underline;
}

.nav-link:hover {
  background-color: #ffffff;
  border-radius: 10px;
}
