/* Applied consistently across site */
* {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 10px; /* Fallback font size */
  font-size: calc(10px + 0.5vw);
}

#ajax-loader {
  padding: 25vw;
}

h2 {
  padding-top: 2.5vh;
}

/* Footer area only */
.to-top {
  clear: both;
  text-align: center;
  padding: 5vh;
}

footer {
  border-top: 2px solid #888888;
  background-color: #00c0c0;
}

div.footer-contact {
  padding-top: 5vh;
}

/* Home snippet only */
#carouselWithIndicators {
  margin: auto;
  width: 85%;
  padding-top: 2.5vh;
  overflow: hidden;
}

#carouselWithIndicators .carousel-inner {
  border: 2px solid #888888;
  border-radius: 20vw/25vw;
}
