/* Applied consistently across site */
* {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 10px; /* Fallback font size */
  font-size: calc(10px + 0.5vw);
}

#ajax-loader {
  padding: 15vw;
}

h2 {
  padding-top: 2.5vh;
}

/* Footer area only */
.to-top {
  clear: both;
  text-align: center;
  padding: 5vh;
}

footer {
  border-top: 2px solid #888888;
  background-color: #00c0c0;
}

div.footer-contact {
  padding-top: 5vh;
}

/* Home snippet only */
#carouselWithIndicators {
  margin: auto;
  width: 85%;
  padding-top: 2.5vh;
  overflow: hidden;
}

#carouselWithIndicators .carousel-inner {
  border: 2px solid #888888;
  border-radius: 20vw/25vw;
}

/*
Adding a border around the Next and Back carousel links to make them more visible.
Works on *most* browsers
*/
.carousel-control-prev span,
.carousel-control-next span {
  -webkit-text-stroke: 1px #000000;
}

/* Table snippet only */
#menu-table {
  max-width: 1280px;
  width: 75vw;
  margin: 5vh auto;
  border-radius: 20px;
  border: 2px solid #888888;
  box-shadow: -10px 10px #008888;
}

#menu-table thead {
  border-bottom: 2px solid #888888;
}

#menu-table h3 {
  margin: 0px;
}

#menu-table th.sub-item {
  text-indent: 2rem;
  /* padding-left: 4em; */
}

#menu-table .price {
  text-align: right;
}

/* Gallery snippet only */
#gallery div {
  float: left;
  margin: 2.5vh auto;
}

#gallery img {
  border-radius: 20px;
  border: 2px solid #888888;
  box-shadow: -10px 10px #008888;
}
